<div class="home__container">
	<app-card
		gameCover="assets/thumbnail_showcase_ETC_fdea5727d6.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4 PS5 "
		gamePrice="R$ 300,00"
	>
	</app-card>
	<app-card
		gameCover="assets/KtomC_fWaNOQuAc_Gf0ba1t6Ogu_x94_350x200_1x-0.jpeg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5 PS4"
		gamePrice="R$ 90,00"
	>
	</app-card>
	<app-card
		gameCover="assets/persona-5-royal---button-fin-1581716582492.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5 PS4"
		gamePrice="R$ 300,00"
		>
	</app-card>
	<app-card
		gameCover="assets/og_img.jpg"
		gameLabel="NEW"
		gameType="DIGITAL |  PS5"
		gamePrice="R$ 300,00"
	>
	</app-card>
</div>

